/* footer */


.footer__h2 {
  text-align: center;
  margin: 20px;
}

.footer__div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*fondo footer*/
  background-image: url(../../secciones/src/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__div--div {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.icono_footer {
  margin-top: 50px;
}

.img__contactos {
  height: 150px;
  width: 150px;
}